html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-size: 62.5%;
  font-size: 1em;
  color: rgb(55, 55, 55);
  line-height: 1.3em;
  font-family: 'Antic Didone', serif;
  font-weight: 300;
  background: white;
  position: static;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: rgb(14, 78, 87);
  text-decoration: underline;
}

input[disabled="disabled"], input[disabled="disabled"]:hover {
  opacity: 0.7;
}

.group:before, .group:after {
  content: " ";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}

.art__left-container {
  float: left;
  width: 45%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  background: rgb(245, 245, 245);
}

.art__right-container {
  float: right;
  width: 48%;
}

.art__thumb-default-img {
  width: 100%;
}

.art__header {
  position: fixed;
  z-index: 333;
  top: 0;
  width: 45%;
}

.art__menu-list-container {
  float: left;
  padding: 0 2em;
  margin: 1.5em 0;
  box-sizing: border-box;
  font-family: 'Limelight', cursive;
}

.art__menu-1 {
  font-size: 1.2em;
  width: 200px;
}

.art__menu-2 {
  font-size: 1.4em;
  width: 250px;
}

.art__menu-3 {
  font-size: 1.6em;
  width: 300px;
}

.art__menu-list {
  box-sizing: border-box;
}

.art__menu-list-item {
  display: block;
  box-sizing: border-box;
  background: black;
  padding: .5em 1em;
  margin: .3em 0;
}

.art__menu-list-item-link {
  text-transform: uppercase;
  font-size: .85em;
  color: white;
  text-decoration: none;
}

.art__menu-list-item-link:hover {
  text-decoration: underline;
}

.art__form-container {
  width: 90%;
  margin-top: 6em;
  box-sizing: border-box;
  float: right;
  padding-right: 20%;
}

.art__form-item-container {
  padding: .4em 0;
  box-sizing: border-box;
}

.art__form-item-label {
  display: block;
  text-transform: uppercase;
  font-size: .7em;
  font-weight: bold;
}

.art__form-item-input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: solid 1px rgb(55, 55, 55);
  margin: .3em 0;
  font-family: 'Antic Didone', serif;
  padding: .1em .5em;
  box-sizing: border-box;
  outline: none;
  font-size: .75em;
}

.art__form-item-input-date {
  width: 100%;
  background: none;
  border: none;
  border-bottom: solid 1px rgb(55, 55, 55);
  margin: .3em 0;
  font-family: 'Antic Didone', serif;
  padding: .1em .5em;
  box-sizing: border-box;
  outline: none;
  font-size: .75em;
}

.art__file-field {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 150px;
  margin: .3em 0;
}

.art__input-file-label {
  z-index: 0;
  display: inline-block;
  width: 100%;
  background: rgb(14, 78, 87);
  cursor: pointer;
  color: #fff;
  padding: .3em 0;
  font-family: 'Antic Didone', serif;
  font-size: .75em;
  box-shadow: 0 3px 3px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.1);
  text-transform: uppercase;
}

.art__form-item-input-file {
  display: inline-block;
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.art__file-path-label {
  display: inline-block;
  font-size: .8em;
  padding-left: .5%;
}

.art__form-item-ta {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: rgb(245, 245, 245);
  max-width: 100%;
  min-width: 100%;
  height: 230px;
  min-height: 230px;
  margin: .3em 0;
  outline: none;
}

.art__btn-container {
  width: 100%;
  padding: 1em 0;
}

.art__btn {
  border: none;
  font-family: 'Antic Didone', serif;
  background: rgb(14, 78, 87);
  color: white;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1em;
  padding: .5em 1.5em;
  box-sizing: border-box;
  box-shadow: 0 14px 28px rgba(180, 180, 180,0.15), 0 10px 10px rgba(180, 180, 180,0.12);
  outline: none;
}

.art__btn:hover {
  background: rgb(100, 139, 145);
}

.art__btn:disabled {
  background: rgb(100, 139, 145);
  cursor: default;
}

.jodit-wysiwyg ul, .jodit-wysiwyg ol {
  padding-left: 1.5em !important;
  box-sizing: border-box !important;
}

.jodit-toolbar__box:not(:empty) {
  background-color: rgb(14, 78, 87);
  border-radius: 0;
  border: none;
}

.jodit-container:not(.jodit_inline) {
  border: none;
  background: rgb(245, 245, 245);
  line-height: 1.6em;
}

.jodit-toolbar__box:not(:empty) {
  border: none;
  border-radius: 0;
} 

.jodit-toolbar-button {
  border-radius: 0;
  border: none;
}

.jodit-icon {
  fill: white;
}

.jodit-toolbar-button__trigger svg {
  fill: white;
}

.jodit-toolbar-button__button:hover {
  background: rgba(255, 255, 255, .3) !important;
}

.jodit-popup__content {
  background: rgb(66, 108, 114);
  color: white;
}

.jodit-toolbar-button__text {
  color: white;
}

.jodit-toolbar-button__button, .jodit-toolbar-button__trigger {
  border-radius: 0 !important;
}

.jodit-toolbar-button__button:hover, .jodit-toolbar-button__trigger:hover {
  background: rgba(255, 255, 255, .3) !important;
}

.jodit-ui-group {
  background: none;
} 

.jodit-toolbar-button__text, .jodit-toolbar-button__text:not(:empty), .jodit-ui-button__text, .jodit-ui-button__text:not(:empty) {
  font-family: 'Antic Didone', serif;
  color: white;
  font-size: .9em;
}

.jodit-container:not(.jodit_inline) .jodit-workplace {
  font-size: .85em !important;
}

.art__main-container h1 {
  font-size: 2em !important;
  font-weight: bold;
}

.art__main-container h2 {
  font-size: 1.8 !important;
  font-weight: bold;
}

.art__main-container h3 {
  font-size: 1.6 !important;
  font-weight: bold;
}

.art__main-container h4 {
  font-size: 1em !important;
  font-weight: bold;
}

.art__main-container b, .art__main-container strong {
  font-weight: bold !important;
}

.jodit-dialog__box, .jodit-dialog {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.jodit-dialog__footer button {
  background: rgb(14, 78, 87);
  border-radius: 0;
}

.jodit-dialog__box .jodit-dialog__footer {
  padding: 8px;
  justify-content: center;
  flex-wrap: nowrap;
  display: none;
}

.jodit-ui-button_status_primary:hover, .jodit-dialog__box button:hover {
  background: rgb(65, 89, 92) !important;
  border-radius: 0;
}

.art__my-arts-list {
  width: 85%;
  margin-right: 15%;
  padding: 2em 0;
  box-sizing: border-box;
}

.art__my-arts-list-element {
  width: 100%;
  display: block;
  border-bottom: solid black 2px;
  margin: .2em 0;
}

.art__my-arts-list-element-el {
  display: inline-block;
  width: 32.6%;
}

.art__art-name {
  font-weight: bold;
  background: rgb(14, 78, 87);
  color: white;
  padding: .7em 1em;
  box-sizing: border-box;
  font-family: 'Limelight', cursive;
  text-transform: uppercase;
  font-size: .85em;
}

.art__author-name {
  padding: .7em 0 .7em 2em;
  box-sizing: border-box;
  font-size: .85em;
}

.art__my-arts-btn-container {
  text-align: right;
}

.art__my-arts-btn {
  font-family: 'Material Icons Outlined';
  color: rgb(14, 78, 87);
  background: none;
  border: none;
  font-size: 1.1em;
  padding-left: .5em;
  box-sizing: border-box;
}

.art__art-view-link, .art__art-view-link:hover {
  text-decoration: none;
}

.art__art-page-menu {
  margin-left: 11%;
}

.art__art-image-container {
  width: 50%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}

.art__art-meta-image {
  width: 70%;
}

.art__art-meta-description-container {
  float: left;
  width: 38%;
  margin-left: 10%;
  box-sizing: border-box;
  margin-top: 20%;
}

.art__meta-author {
  font-size: 2.4em;
  font-family: 'Limelight', serif;
  display: inline-block;
  color: white;
  background: rgb(14, 78, 87);
  padding: .5em;
  margin-bottom: 1.2em;
}

.art__meta-name {
  font-size: 1.9em;
  font-family: 'Gentium Book Basic', serif;
  padding-bottom: .2em;
}

.art__meta-creation {
  font-weight: bold;
  padding-bottom: .5em;
  border-bottom: solid rgb(55, 55, 55) 1px;
  width: 60%;
  margin-bottom: 1.5em;
}

.art__art-meta-details-container {
  width: 90%;
  height: 300px;
  overflow-y: scroll;
}

.art__art-meta-details-container * {
  font-family: 'Antic Didone', serif !important;
}

.art__art-meta-details-container a {
  color: rgb(14, 78, 87) !important;
}
